{%  extends 'main/base.html' %}

{% block title %} View List {% endblock %}

{% block content %}
    <form action="#" method="post">
        {% csrf_token %}

    
        <h1>{{ ls.name }}</h1>
        <ul>
            {% for item in ls.item_set.all %}
                {% if item.complete == True %}
                    <li><input type="checkbox" name="c{{ item.id }}" id="c{{ item.id }}" value="clicked" checked>{{ item.text }}</li>
                {% else %}
                    <li><input type="checkbox" name="c{{ item.id }}" id="c{{ item.id }}" value="clicked">{{ item.text }}</li>
                {% endif %}
            {% endfor %}
        </ul>

        <button type="submit" name="save" value="save">Save</button>
        <input type="text" name="new" id="new">
        <button type="submit" name="newItem" value="newItem">Add Item</button>
    </form>

{% endblock %}